 <div class="container py-5  ">
  <h1 class="fw-bold text-decoration-underline"><a href="/" class="text-decoration-none text-dark"><i class="fa-sharp fa-solid fa-house"></i></a>Votre réservation</h1>

  <div class="d-flex  ">

      <!--Première colonne -->
      <div class="col-6">
          <div class="book-intro">
          <p>
            Exellent choix !<br>
            Nous vous remerçions pour votre réservation
          </p>
          <p>
              <i class="fa-solid fa-thumbs-up fs-2 me-5 "></i>
          </p>
      </div>

      <div class="book-resa mt-4">
          <h2>Détails de la réservation</h2>
          <div class="resume-resa d-flex">
              <div>
                <p><strong>Date de début</strong></p>
                <p><%= @lastUserBooking.starts_at.strftime("%a, %d %b %Y")%></p>
              </div>

              <div>
                <p><strong>Date de fin</strong></p>
                <p><%= @lastUserBooking.ends_at.strftime("%a, %d %b %Y")%></p>
              </div>
          </div>
          <hr style="width:500px">
      </div>
    </div>

    <!--Seconde colonne -->
    <div class="col-6">
        <div>
        </div>
    </div>

  </div>



<!--fin des deux colonne-->
</div>
