<h1>Paks#show</h1>
<p>Find me in app/views/paks/show.html.erb</p>

<ul>
      <li><%= @pak.name %></li>
      <li><%= @pak.description %></li>
      <li><%= @pak.pricing %></li>
      <li><%= cl_image_tag @pak.photo.key, height: 300, width: 400, crop: :fill %></li>
  </ul>
