<div class="home-banner">
    <div class="banner-text">
        <h1>Locabêtes<br>972</h1>
        <p>Lorem ipsum dolor sit amet. Non aliquam incidunt et quod quia non quisquam placeat hic veritatis delectus</p>
        <a href="#" class="btn btn-primary">Voir les produits</a>
    </div>

    <div class="banner-img">
        <%= image_tag("https://res.cloudinary.com/dz6lwhhko/image/upload/v1668568690/development/banniere2_axwerm.jpg", width: 400, height: 550, crop: :fill) %>
    </div>
</div>

<img class="hero_img" src="https://images.unsplash.com/photo-1590249426516-4ac3a513c4cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">

<div class="hide">
  <h1 class="display-4">Locabêtes<br>972</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Get started with Locabête</a>
  </p>
</div>
