<div class="home-banner">
    <div class="banner-text">
        <h1>Locabêtes<br>972</h1>
        <p>Lorem ipsum dolor sit amet. Non aliquam incidunt et quod quia non quisquam placeat hic veritatis delectus</p>
        <a href="#" class="btn btn-primary">Voir les produits</a>
    </div>

    <div class="banner-img">
        <%= cl_image_tag("https://res.cloudinary.com/dz6lwhhko/image/upload/v1668568690/development/banniere2_axwerm.jpg", width: 400, height: 550, crop: :fill) %>
    </div>
</div>
