<div class="row">
<div class="card1 col-6 col-md-4">
  <img src="https://th.bing.com/th/id/OIP.z0fgSOg6fwXOmrSylF7HZwHaE7?w=276&h=184&c=7&r=0&o=5&dpr=1.5&pid=1.7" />
  <div class="card-infos1">
    <div>
      <h2>Pack 1 vache, 1 mouton </h2>
      <p>dans ce pack vous trouverez une vache et un mouton </p>
    </div>
    <h2 class="card-pricing1">56€ </h2>
  </div>
</div>




<div class="card1 col-6 col-md-4">
  <img src="https://th.bing.com/th/id/OIP.3NNcaxK7VvO0R6TbaJs3QAHaE8?w=275&h=184&c=7&r=0&o=5&dpr=1.5&pid=1.7" />
  <div class="card-infos1">
    <div>
      <h2>Pack 1 vache</h2>
      <p>dans ce pack vous trouverez une vache</p>
    </div>
    <h2 class="card-pricing1">20€ </h2>
  </div>
</div>
<div class="card1 col-6 col-md-4">
  <img src="https://th.bing.com/th/id/R.18ee90f75e678db672330889fedce304?rik=HmDHE3Mvbqrj7g&riu=http%3a%2f%2flepassetempsderose.l.e.pic.centerblog.net%2fo%2fee93ab3f.jpg&ehk=fFe9gDKq9r0%2faGpcmK0iOFh03VVGpa1vByJhiXvg1eA%3d&risl=&pid=ImgRaw&r=0" />
  <div class="card-infos1">
    <div>
      <h2>Pack 1 chevre</h2>
      <p>dans ce pack vous trouverez une chevre</p>
    </div>
    <h2 class="card-pricing1">16€ </h2>
  </div>
</div>
<div class="card1 col-6 col-md-4">
  <img src="https://th.bing.com/th/id/OIP.cmpp9tNaKVBRUMA36zeCdgHaFj?w=265&h=199&c=7&r=0&o=5&dpr=1.5&pid=1.7" />
  <div class="card-infos1">
    <div>
      <h2>Pack 1 mouton </h2>
      <p>dans ce pack vous trouverez un mouton</p>
    </div>
    <h2 class="card-pricing1">16€ </h2>
  </div>
</div>
</div>
</div>
