<div class="cards_list">

    <div class="card-details-product">
        <img class="card_img" src="https://images.unsplash.com/photo-1628320563527-e7558b50e3f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Photo animal">
        <h2 class="card_title">Anes de Martinique</h2>
        <p>Lorem ipsum dolor sit amet. Et deserunt sunt aut minima cupiditate et velit harum vel laudantium ratione.</p>
        <div class="div-lien d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Voir les produits</a>
        </div>
    </div>

    <div class="card-details-product">
        <img class="card_img" src="https://images.unsplash.com/photo-1598974357801-cbca100e65d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Photo animal">
        <h2 class="card_title">Chevaux de Martinique</h2>
        <p>Lorem ipsum dolor sit amet. Et deserunt sunt aut minima cupiditate et velit harum vel laudantium ratione.</p>
        <div class="div-lien d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Voir les produits</a>
        </div>
    </div>

    <div class="card-details-product">
        <%= cl_image_tag("5d943d082eb93_img_0989_yk65id", crop: :fill, :class => "card_img") %>
        <h2 class="card_title">Moutons de Martinique</h2>
        <p>Lorem ipsum dolor sit amet. Et deserunt sunt aut minima cupiditate et velit harum vel laudantium ratione.</p>
        <div class="div-lien d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Voir les produits</a>
        </div>
    </div>

    <div class="card-details-product">
        <%= cl_image_tag("5d943d082eb93_img_0989_yk65id", crop: :fill, :class => "card_img") %>
        <h2 class="card_title">Boeufs de Martinique</h2>
        <p>Lorem ipsum dolor sit amet. Et deserunt sunt aut minima cupiditate et velit harum vel laudantium ratione.</p>
        <div class="div-lien d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Voir les produits</a>
        </div>
    </div>

    <div class="card-details-product">
        <%= cl_image_tag("5d943d082eb93_img_0989_yk65id", crop: :fill, :class => "card_img") %>
        <h2 class="card_title">Cabrits de Martinique</h2>
        <p>Lorem ipsum dolor sit amet. Et deserunt sunt aut minima cupiditate et velit harum vel laudantium ratione.</p>
        <div class="div-lien d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Voir les produits</a>
        </div>
    </div>

</div>
