<div id="footer" class="container d-flex">
    <div class="zone1 col-3">
        <%= link_to "Home page", root_path, :class => "footer-link" %>
        <%= link_to "About us", page_about_path, :class => "footer-link" %>
        <%= link_to "Nos produits", paks_path, :class => "footer-link" %>

    </div>

    <div class="col-3">
        <a href="#" alt="Lien instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" alt="Lien instagram"><i class="fa-brands fa-facebook"></i></i></a>
        <a href="#" alt="Lien instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>

    <div class="col-3">

    </div>
</div>
