<div class="container">
  <%= render "shared/banner"%>
  <%= render "shared/card_products"%>

  <div class="cta">
    <div class="">
      <h2 class="">Unleash your Genius</h2>
      <p class="">Your data's glamorous new life begins today.</p>
    </div>
    <a href="#" target="_blank" class="btn btn-primary btn-lg">Get started with Locabête</a>
  </div>
</div>

