.book-intro{
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 10px;
    width: 500px;
}

.resume-resa{
    width: 500px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
}
