.box{
  border: 5px solid darkblue;
  height: 240px;
  width: 1150px;
text-align: center;
justify-content: center;
margin-left: 60px;
margin-right: 60px ;

}


.container1{
  border-radius: 60px;
  margin-right: 100px;
}

.card-infos1{
  font-size: 30px;
}
h2.text-body.text-decoration-none {
  font-size: large;
}
p#no-underline {
  font-size: smaller;
}
p.text-body.text-decoration-none {
  font-size: initial;
}

.card2{
  padding: 20px;
}

