.cards_list {
    margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 2rem;
}

.card_title {
    margin-top: 1rem;
}

.card-details-product {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e6eaec;
    border-radius: 1rem;
}

.card_img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.card-details-product h2{
    font-size: 20px;
    font-weight: bold;
}
.div-lien a{
    border-radius: 10px;
}
