.footer {
    margin-top: 6rem;
    padding: 3rem 0;
    background-color: #f6f8fa;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #79797C;
}

.footer_slogan {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
}

.footer_slogan a {
    text-decoration: none;
    color: #24292f;
}

.column_title {
    margin-bottom: 0.5rem;
    font-family: 'Alfa Slab One', cursive;
    color: #24292f;
}

.footer_item {
    margin-top: 1rem;
}

.footer_copyright {
    margin-top: 3rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d8dee4;
}

.social-wrapper {
    gap: 1rem;
}

.social-wrapper div {
    margin-left: 0.25rem;
    min-width: 0.50rem;
    min-height: 0.50rem;
    width: 0.50rem;
    height: 0.50rem;
    border-radius: 50%;
}

.footer_social-wrapper {
    gap: 1rem;
}

.footer_social-wrapper a {
    color: #24292f;
    font-size: 1.5rem;
}