h2.text-body.text-decoration-none {
  display: -webkit-inline-box;
}
p.text-body.text-decoration-none {
  display: inline-table;
  font-size: 16px;
}
a {
  color: var(--bs-link-color);
  text-decoration: none;

}
