.nav {
  padding: 1.5rem 0;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d8dee4;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #79797C;
}

.nav-action {
  gap: 1rem;
}

.nav_logo {
  font-family: 'Alfa Slab One', cursive;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.nav_img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}